In [1]:
import pandas as pd
import pickle

import sys
sys.path.append("../")
import src.Resources as src
import warnings
warnings.filterwarnings('ignore')

In this notebook I will clean the data scraped from Goodreads and as well put it all in one DataFrame.
First, we start with the DataFrame Books as a baseline.

In [2]:
book_df = pd.read_csv('../Data/Books.csv', index_col= 0)

In [3]:
book_df.head(1)

,Book_author,Book_img,Book_description,Book_rating,Book_votes,Book_title,Book_genre
0,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"In Romeo and Juliet, Shakespeare creates a vio...",3.74,2462752,Romeo and Juliet,Classics|Plays|Fiction|Romance

This is a list of all the .pkl that we want to load to our DataFrame, i chose them all, if in a future you would scrap new books you need to put the name of the pkl in here aswell, keep in mind to remove Books from the name here.

Exemple: Books_Action.pkl for this list would be just Action.

In [4]:
genres= ["Action","Adventure","Comedy","Crime","Drama","Fantasy","History","Horror","Mystery","Romance","Sciencefiction","Superhero","Thriller","List"]

In [5]:
book_df.head()

,Book_author,Book_img,Book_description,Book_rating,Book_votes,Book_title,Book_genre
0,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"In Romeo and Juliet, Shakespeare creates a vio...",3.74,2462752,Romeo and Juliet,Classics|Plays|Fiction|Romance
1,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"Among Shakespeare's plays, ""Hamlet"" is conside...",4.02,888492,Hamlet,Classics|Plays|Fiction|Drama
2,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"One night on the heath, the brave and respecte...",3.90,836710,Macbeth,Classics|Plays|Fiction|School
3,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"In Othello, Shakespeare creates a powerful dra...",3.89,368863,Othello,Classics|Plays|Fiction|Drama
4,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,Shakespeare's intertwined love polygons begin ...,3.95,513517,A Midsummer Night's Dream,Classics|Plays|Fiction|Fantasy

Here we run the cleaning function, this function aswell puts all the pickles together into one DataFrame.

In [6]:
book_df = src.book_cleaner(genres,book_df)
book_df

,Book_author,Book_img,Book_description,Book_rating,Book_votes,Book_title,Book_genre
0,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"In Romeo and Juliet, Shakespeare creates a vio...",3.74,2462752,Romeo and Juliet,Classics|Plays|Fiction|Romance
1,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"Among Shakespeare's plays, ""Hamlet"" is conside...",4.02,888492,Hamlet,Classics|Plays|Fiction|Drama
2,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"One night on the heath, the brave and respecte...",3.90,836710,Macbeth,Classics|Plays|Fiction|School
3,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"In Othello, Shakespeare creates a powerful dra...",3.89,368863,Othello,Classics|Plays|Fiction|Drama
4,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,Shakespeare's intertwined love polygons begin ...,3.95,513517,A Midsummer Night's Dream,Classics|Plays|Fiction|Fantasy
...,...,...,...,...,...,...,...
4554,Alice Schroeder,https://images-na.ssl-images-amazon.com/images...,The personally revealing and complete biograph...,4.13,48538,The Snowball: Warren Buffett and the Business ...,Biography|Business|Nonfiction|Finance
4555,Jonathan Lethem,https://images-na.ssl-images-amazon.com/images...,Lionel Essrog is Brooklyn’s very own self-appo...,3.86,39729,Motherless Brooklyn,Fiction|Mystery|Crime|NewYork
4556,Ruth Rendell,https://images-na.ssl-images-amazon.com/images...,Dazzling psychological suspense. Razor-sharp d...,3.68,13305,From Doon With Death,Mystery|Fiction|Crime|BritishLiterature
4557,Shawn Achor,https://images-na.ssl-images-amazon.com/images...,Our most commonly held formula for success is ...,4.14,35581,The Happiness Advantage: The Seven Principles ...,Nonfiction|Psychology|SelfHelp|Business
4558,Enid Blyton,https://images-na.ssl-images-amazon.com/images...,Elizabeth Allen is spoilt and selfish. When sh...,4.07,8875,The Naughtiest Girl in the School,Childrens|Fiction|Classics|MiddleGrade

We reset the index, drop duplicates, reset index again and then we multiply the rating by 2 so its in the same scale as imdb.

In [7]:
book_df.reset_index(inplace=True)
book_df.drop("index",axis=1,inplace=True)
book_df.drop_duplicates(inplace=True)
book_df.reset_index(inplace=True)
book_df.drop("index",axis=1,inplace=True)
book_df["Book_rating"] = book_df["Book_rating"].apply(lambda x: src.book_rating_multiplier(x))

We make sure that there aren't any Nan values, in this case there is one so ill just replace it for: "No description".

In [8]:
book_df.isnull().sum()

Book_author         0
Book_img            0
Book_description    1
Book_rating         0
Book_votes          0
Book_title          0
Book_genre          0
dtype: int64

In [9]:
book_df=book_df.fillna("No description")

This is the look of the DataFrame clean and with all of the new data we got from the pickles that were scraped with our goodreads selenium function.

In [10]:
book_df

,Book_author,Book_img,Book_description,Book_rating,Book_votes,Book_title,Book_genre
0,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"In Romeo and Juliet, Shakespeare creates a vio...",7.48,2462752,Romeo and Juliet,Classics|Plays|Fiction|Romance
1,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"Among Shakespeare's plays, ""Hamlet"" is conside...",8.04,888492,Hamlet,Classics|Plays|Fiction|Drama
2,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"One night on the heath, the brave and respecte...",7.80,836710,Macbeth,Classics|Plays|Fiction|School
3,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,"In Othello, Shakespeare creates a powerful dra...",7.78,368863,Othello,Classics|Plays|Fiction|Drama
4,William Shakespeare,https://images-na.ssl-images-amazon.com/images...,Shakespeare's intertwined love polygons begin ...,7.90,513517,A Midsummer Night's Dream,Classics|Plays|Fiction|Fantasy
...,...,...,...,...,...,...,...
18043,Alice Schroeder,https://images-na.ssl-images-amazon.com/images...,The personally revealing and complete biograph...,8.26,48538,The Snowball: Warren Buffett and the Business ...,Biography|Business|Nonfiction|Finance
18044,Jonathan Lethem,https://images-na.ssl-images-amazon.com/images...,Lionel Essrog is Brooklyn’s very own self-appo...,7.72,39729,Motherless Brooklyn,Fiction|Mystery|Crime|NewYork
18045,Ruth Rendell,https://images-na.ssl-images-amazon.com/images...,Dazzling psychological suspense. Razor-sharp d...,7.36,13305,From Doon With Death,Mystery|Fiction|Crime|BritishLiterature
18046,Shawn Achor,https://images-na.ssl-images-amazon.com/images...,Our most commonly held formula for success is ...,8.28,35581,The Happiness Advantage: The Seven Principles ...,Nonfiction|Psychology|SelfHelp|Business
18047,Enid Blyton,https://images-na.ssl-images-amazon.com/images...,Elizabeth Allen is spoilt and selfish. When sh...,8.14,8875,The Naughtiest Girl in the School,Childrens|Fiction|Classics|MiddleGrade

And finally we save it as Books_clean

In [11]:
book_df.to_csv("../Data/Books_clean.csv")