In [23]:
import pandas as pd

In [24]:
movies = pd.read_csv("../Data/Movies_clean.csv",index_col=0)
books = pd.read_csv("../Data/Books_clean_filtered.csv",index_col=0)

In [25]:
movies.columns = ["Title","Image","Genre","Description","Rating","Votes","Directors","Stars"]
books.columns = ["Author","Image","Description","Rating","Votes","Title","Genre"]

In [26]:
movies_rec = movies.drop(["Directors","Stars"],axis=1)
books_rec = books.drop(["Author",],axis=1)
books_rec = books_rec.reindex(columns=["Title","Image","Genre","Description","Rating","Votes"])

In [27]:
books_rec["Type"] = "Book"
movies_rec["Type"] = "Movie"

In [28]:
recomendation = pd.concat([books_rec,movies_rec])

In [29]:
recomendation["Title_id"] = recomendation["Title"]+"_"+recomendation["Type"]

In [30]:
recomendation = recomendation[recomendation["Votes"]>5000]

In [31]:
recomendation.drop_duplicates(inplace=True)
recomendation = recomendation.drop_duplicates(subset="Title_id")
recomendation = recomendation.reset_index()
recomendation = recomendation.drop("index",axis=1)

In [34]:
recomendation.head(1)

,Title,Image,Genre,Description,Rating,Votes,Type,Title_id
0,Romeo and Juliet,https://images-na.ssl-images-amazon.com/images...,Romance,"In Romeo and Juliet, Shakespeare creates a vio...",7.48,2462752,Book,Romeo and Juliet_Book

In [36]:
recomendation = recomendation.reindex(columns=["Image","Title","Rating","Votes","Genre","Description","Type","Title_id"])

In [37]:
movies.to_csv("../Data/Movies_clean.csv")
books.to_csv("../Data/Books_clean.csv")
recomendation.to_csv("../Data/recomendation.csv")